/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  background-color: var(--body--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
}

button, input, textarea, select {
  font-family: inherit;
  color: inherit;
  outline: none;
}

input {
  border: none;
}

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
.right-cart, .navbar-link, .navbar-list, .search, .top-bar-login, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  z-index: 1;
  background-color: var(--header-bg-color);
  padding: 5px 0 30px;
}
.header-home {
  position: sticky;
  top: 0;
}
@media (max-width: 767.98px) {
  .header {
    padding: 5px 0 20px;
  }
}

.top-bar {
  padding-top: 10px;
  justify-content: space-between;
}
.top-bar_more {
  display: none;
  filter: var(--color-icon);
}
@media (max-width: 767.98px) {
  .top-bar_more {
    display: block;
  }
}
.top-bar-login {
  padding-bottom: 10px;
  margin-left: -30px;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .top-bar-login {
    display: none;
  }
}

.search {
  position: relative;
}
@media (max-width: 767.98px) {
  .search {
    display: none;
  }
}
.search-input {
  color: #1A162E;
  font-size: 14px;
  padding: 10px 15px;
  padding-right: 35px;
  width: 50vw;
  border: 1px solid var(--search-border-color);
  border-radius: 8px;
  outline: none;
  background: var(--search-background);
  transition: all 0.3s ease;
}
.search-input:focus {
  border-color: var(--search-border-color-focus);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 991.98px) {
  .search-input {
    width: 40vw;
  }
}
.search-icon {
  width: 17.977px;
  height: 17.977px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  filter: var(--color-icon);
}

.navbar {
  margin-left: 30px;
}
.navbar__img-avt {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.navbar-list {
  gap: 15px;
}
.navbar-link {
  gap: 6px;
  white-space: nowrap;
  color: var(--color-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.navbar__arrow {
  filter: var(--color-icon);
}
.navbar__heart {
  filter: var(--color-icon);
  height: 18px;
  width: 18px;
}

.top-option-cart {
  margin-right: 30px;
  position: relative;
}
.top-option-cart:hover .act-dropdown__cart {
  opacity: 1;
  visibility: visible;
}

.right-cart {
  border: none;
  cursor: pointer;
  filter: var(--color-icon);
}
.right-cart img {
  height: 32px;
  width: 32px;
}
@media (max-width: 767.98px) {
  .right-cart img {
    height: 26px;
  }
}

.navbar-link__heart-hover {
  position: relative;
}
.navbar-link__heart-hover:hover .act-dropdown__heart {
  opacity: 1;
  visibility: visible;
}
.navbar-link__user-hover {
  position: relative;
}
.navbar-link__user-hover:hover .act-dropdown__user {
  opacity: 1;
  visibility: visible;
}

.act-dropdown__cart {
  position: absolute;
  right: -83%;
  top: 83%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 1s ease;
}
.act-dropdown__heart {
  position: absolute;
  top: 46%;
  right: 1%;
  z-index: 60;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 1s ease;
}
.act-dropdown__user {
  position: absolute;
  top: 107%;
  right: 0%;
  z-index: 70;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.1s ease;
}

.partition {
  height: 24px;
  width: 1px;
  background-color: #D2D1D6;
}

.footer {
  background-color: var(--header-bg-color);
  padding: 50px 0 10px;
  margin-top: 60px;
}
@media (max-width: 767.98px) {
  .footer {
    margin-top: 15px;
  }
}
.footer__heading {
  color: var(--color-text);
  height: 28px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.444%;
}
@media (max-width: 767.98px) {
  .footer__heading {
    margin-top: 25px;
  }
}
.footer__row {
  display: grid;
  grid-template-columns: 1fr 0.6fr 1fr;
  gap: 80px;
}
@media (max-width: 767.98px) {
  .footer__row {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
.footer__col {
  display: flex;
  flex-direction: column;
}
.footer__desc, .footer__help-text {
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  height: 100%;
}
.footer__desc {
  margin-top: 30px;
}
.footer__help-text {
  margin-top: 40px;
}
.footer__help-submit {
  margin-left: 15px;
}
.footer__form {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0;
}
.footer__link {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}
.footer__link > * {
  padding: 8px 0;
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
}
.footer__map {
  margin-top: 20px;
  width: 100%;
}
.footer__bottom {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
}

.profile__sidebar {
  overflow: hidden;
  border-radius: 20px;
  padding-bottom: 30px;
}

.profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 20px;
  background: linear-gradient(180deg, rgba(26, 22, 46, 0) 0%, #1a162e 100%), url("/frontend/assets/img/profile/cover.png") no-repeat center/cover;
  box-shadow: 0px 20px 60px 10px var(--profile-sidebar-shadow);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 144.444%;
}
.profile-user__desc {
  font-size: 15px;
}

.profile-menu {
  padding-left: 30px;
}
.profile-menu__icon {
  padding-right: 10px;
  width: 29px;
  height: 29px;
}
.profile-menu__title {
  margin-top: 30px;
  color: var(--Secondary-Color-Secondary-1, #1A162E);
  font-size: 18px;
  font-weight: 500;
  line-height: 144.444%;
  align-items: center;
}
.profile-menu__list {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 146.667%;
}
.profile-menu__list > li {
  padding-left: 10px;
  margin-bottom: 8px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 767.98px) {
  .logo_img {
    height: 24px;
  }
}
.logo_img_sign-up {
  height: 36px;
}
.logo__title {
  color: var(--color-text);
  font-size: 18px;
  font-weight: 700;
  line-height: 144.444%;
}
@media (max-width: 767.98px) {
  .logo__title_sign-up {
    color: var(--color-text);
    font-size: 3rem;
    font-weight: 700;
    line-height: 144.444%;
  }
}

.slide__inner {
  display: flex;
  overflow: hidden;
}
.slide__item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding-top: 34%;
}
@media (max-width: 767.98px) {
  .slide__item {
    padding-top: 50%;
  }
}
.slide__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.cate-item {
  display: flex;
  padding: 20px 26px;
  height: 100%;
  flex-direction: row;
  column-gap: 20px;
  border-radius: 16px;
  background: var(--cart-item-bg);
}
@media (max-width: 1199.98px) {
  .cate-item {
    flex-direction: column;
  }
}
@media (max-width: 767.98px) {
  .cate-item {
    flex-direction: row;
  }
}
.cate-item__info {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  justify-content: center;
}
@media (max-width: 1399.98px) {
  .cate-item__info {
    padding-right: 0px;
  }
}
.cate-item__thumb {
  height: 116px;
  width: 116px;
  object-fit: contain;
  background-color: var(--cart-item--thumb-bg);
  border-radius: 8px;
}
@media (max-width: 767.98px) {
  .cate-item__thumb {
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    margin: 0 !important;
  }
}
@media (max-width: 1199.98px) {
  .cate-item__thumb {
    margin: 0 auto;
  }
}
.cate-item__title {
  color: var(--cart-item-text-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 767.98px) {
  .cate-item__title {
    color: var(--cart-item-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 144.444%;
  }
}
.cate-item__desc {
  color: var(--cart-item-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .cate-item__desc {
    color: var(--cart-item-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 142.857%;
  }
}

.filter_btn {
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 14px;
  border-radius: 6px;
  background: var(--filter-btn-bg);
  color: var(--filter-btn-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 142.857%;
}
.filter_btn__icon {
  filter: var(--color-icon);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  background: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
}
.btn--small {
  height: 40px;
}
.btn + .btn:not(.btn--no-margin) {
  margin-left: 20px;
}
.btn--text {
  background: transparent;
  font-weight: 400;
}
.btn--primary {
  color: #171c28;
  background: #ffb700;
}
.btn--outline {
  background: transparent;
  border: 1px solid #d2d1d6;
}
.btn--rounded {
  border-radius: 99px;
}
.btn--danger {
  color: #fff;
  background: #ed4337;
}
.btn[disabled], .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn:hover {
  opacity: 0.9;
}

.product-card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: var(--cart-item-bg);
  box-shadow: var(--product-cart-boxshadown);
}
.product-card__info {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.product-card__link {
  position: relative;
  padding-top: 100%;
}
.product-card__thumb {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.product-card__title {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.product-card__namebrand {
  color: var(--color-text-namebrand);
  font-size: 15px;
  font-weight: 400;
  line-height: 146.667%;
  margin: 16px 0;
}
.product-card__row {
  display: flex;
  justify-content: space-between;
}
.product-card__cost, .product-card__rating {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .product-card__cost, .product-card__rating {
    font-size: 14px;
  }
}
.product-card__rating {
  display: flex;
  align-items: center;
}
.product-card__star {
  padding-right: 6px;
}

.form__group {
  margin-bottom: 30px;
}
.form__group-inline {
  display: flex;
  align-items: center;
}
.form-default {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 2px solid var(--form-boder-default-color);
  font-size: 1.5rem;
  font-weight: 500;
  background: transparent;
}
.form__text-input {
  display: flex;
  width: 460px;
  padding: 0 12px;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  border: 1.5px solid var(--form-boder-default-color);
}
.form__text-input:focus-within {
  border-color: #77dae6;
}
.form__input {
  flex: 1;
  height: 100%;
  background: transparent;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.form__input::placeholder {
  color: #D2D1D6;
}
.form__input-icon {
  margin-left: 12px;
}
.form__pull-right {
  margin-left: auto;
}
.form__checkbox {
  display: flex;
  align-items: center;
}
.form__checkbox-label {
  color: #9E9DA8;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.breadcrumbs {
  color: var(--breadcrumbs-text-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  background-color: var(--breadcrumbs-bg-color);
  border-radius: 10px;
  box-shadow: var(--breadcrumbs-boxshadown-color);
}
@media (max-width: 767.98px) {
  .breadcrumbs {
    border-radius: 20px;
  }
}
.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 5px 20px 20px;
}
.breadcrumbs__list > :last-child {
  color: var(--breadcrumbs-text-last-color);
}
.breadcrumbs__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.breadcrumbs__link-icon {
  width: 24px;
  height: 14px;
  margin: 0 20px 0 8px;
}

.text-content {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-text);
}
.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6 {
  font-weight: 600;
}
.text-content h1 {
  font-size: 2.6rem;
}
.text-content h2 {
  font-size: 2.2rem;
}
.text-content h3 {
  font-size: 1.8rem;
}
.text-content h4 {
  font-size: 1.6rem;
}
.text-content h5 {
  font-size: 1.4rem;
}
.text-content h6 {
  font-size: 1.2rem;
}
.text-content h1,
.text-content h2,
.text-content h3,
.text-content h4,
.text-content h5,
.text-content h6,
.text-content p,
.text-content blockquote,
.text-content img,
.text-content figure,
.text-content ul,
.text-content ol,
.text-content table {
  margin: 20px 0;
}
.text-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}
.text-content img + em {
  display: block;
  font-style: italic;
  text-align: center;
}
.text-content a {
  color: #0071dc;
  text-decoration: underline;
}
.text-content blockquote {
  background: rgba(119, 218, 230, 0.1);
  padding: 20px;
  border-left: 3px solid #77dae6;
}
.text-content blockquote p {
  margin: 0;
}
.text-content hr {
  border: none;
  height: 1px;
  margin: 40px 0;
  background: var(--text-content-hr-bg);
}

.act-dropdown__user {
  width: 150px;
  padding-top: 10px;
}
.act-dropdown__cart, .act-dropdown__heart {
  width: 500px;
  height: 500px;
  padding-top: 30px;
}
.act-dropdown__inner {
  box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.6);
  background: var(--Secondary-Color-Background, #FFF);
  border-radius: 20px;
  padding: 5px 20px 20px;
  position: relative;
}
.act-dropdown__inner-user {
  padding: 10px 20px;
  box-shadow: 0 5px 5px 5px rgba(200, 200, 200, 0.4);
  border-radius: 8px;
}
.act-dropdown__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}
.act-dropdown__icon-img {
  height: 18px;
  position: absolute;
}
.act-dropdown__icon-img-large {
  top: 4%;
  right: 4%;
}
.act-dropdown__icon-img-small {
  top: 0%;
  left: 5%;
}

.cart-preview__no-product {
  flex-direction: column;
  height: 400px;
  width: 100%;
}
.cart-preview__no-product-title {
  text-align: center;
  color: #9E9DA8;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}
.cart-preview__no-product-img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.cart-preview__product {
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
}
.cart-preview__thumb {
  height: 40px;
  width: 40px;
  object-fit: contain;
  border: 1px solid #D2D1D6;
  border-radius: 8px;
}
.cart-preview__img {
  height: 100%;
  width: 100%;
}
.cart-preview__name {
  flex-wrap: wrap;
  min-width: 60%;
}
.cart-preview__cost {
  margin-left: auto;
}
.cart-preview__btn-group {
  justify-items: flex-end;
  margin-top: 30px;
}

.user-menu__list {
  font-size: 18px;
  line-height: 200%;
}
.user-menu__link:hover {
  opacity: 0.8;
  font-size: 20px;
  transition: font-size 0.5s ease;
}

html.dark {
  --header-bg-color: #171C28;
  --search-border-color-hover: #F8F8FB;
  --search-border-color:#292E39;
  --search-background: #292E39;
  --color-text: #fff;
  --color-icon: brightness(0) saturate(100%) invert(89%) sepia(18%) saturate(16%) hue-rotate(191deg) brightness(83%) contrast(85%);
  --body--bg-color: #292E39;
  --cart-item-bg:#171C28;
  --cart-item--thumb-bg: #2a2e39;
  --cart-item-text-color: #fff;
  --filter-btn-bg: #171C28;
  --filter-btn-text-color: #fff;
  --name-brand-text-color: #9E9DA8;
  --product-cart-boxshadown:0px 20px 60px 10px rgba(0, 0, 0, 0.20);
  --color-text-namebrand: #9E9DA8;
  --form-boder-default-color: #B9BABE;
  --auth-form-content-bg-color: #292E39;
  --bg-intro-color:#171C28;
  --color-text-auth: #B9BABE;
  --breadcrumbs-text-color: #9E9DA8;
  --breadcrumbs-text-last-color: #FFF;
  --breadcrumbs-bg-color: #171C28;
  --breadcrumbs-boxshadown-color: 0px 20px 60px 10px rgba(23, 28, 40, 0.20);
  --prod-preview-thumbs-img-cur-bdcolor: #ffb700;
  --prod-preview-thumbs-img-bdcolor: #9E9DA8;
  --prod-preview-bgcolor: #171C28;
  --prod-preview-color-intro: #9E9DA8;
  --prod-cur-item-text-color: #FFF;
  --prod-tab-heding-textcolor: #FFF;
  --prod-tab-cmt-bgc: #171C28;
  --prod-tab-nameuser-textcolor: #FFF;
}

html {
  --header-bg-color: #eee;
  --search-border-color-focus: #F8F8FB;
  --search-border-color:#D2D1D6;
  --search-background: #fff;
  --color-text: #1A162E;
  --color-icon: brightness(0) saturate(100%);
  --body--bg-color: #F6F6F6;
  --cart-item-bg: #EEE;
  --cart-item--thumb-bg: #fff;
  --cart-item-text-color: #1A162E;
  --filter-btn-bg: #fff;
  --filter-btn-text-color: #6C6C72;
  --name-brand-text-color: #9E9DA8;
  --product-cart-boxshadown:0px 20px 60px 10px rgba(237, 237, 246, 0.20);
  --color-text-namebrand: #9E9DA8;
  --form-boder-default-color: #D2D1D6;
  --auth-form-content-bg-color: #FFF;
  --bg-intro-color:#fff;
  --color-text-auth: #1A162E;
  --breadcrumbs-text-color: #9E9DA8;
  --breadcrumbs-text-last-color: #1A162E;
  --breadcrumbs-bg-color: #F6F6F6;
  --breadcrumbs-boxshadown-color: 0px 20px 60px 10px rgba(237, 237, 246, 0.20);
  --prod-preview-thumbs-img-cur-bdcolor: #ffb700;
  --prod-preview-thumbs-img-bdcolor: #9E9DA8;
  --prod-preview-bgcolor: #F6F6F6;
  --prod-preview-color-intro: #9E9DA8;
  --prod-cur-item-text-color: #1A162E;
  --prod-tab-heding-textcolor: #1A162E;
  --prod-tab-cmt-bgc: #FAFAFD;
  --prod-tab-nameuser-textcolor: #1A162E;
}

.home__container {
  margin-top: 40px;
}
.home__container-product {
  margin-top: 30px;
}
@media (max-width: 767.98px) {
  .home__container {
    margin-top: 30px;
  }
}
.home__heading {
  color: var(--color-text);
  font-family: Gordita;
  height: 40px;
  width: auto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 141.667%;
  margin-bottom: 20px;
}
@media (max-width: 767.98px) {
  .home__heading {
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    line-height: 145.455%;
  }
}
.home__cate {
  --grid-gutter-x: 51px;
}
@media (max-width: 767.98px) {
  .home__cate {
    --grid-gutter-y: 20px;
  }
}
.home__row {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
}
.home_product {
  --grid-gutter-y: 30px;
}
@media (max-width: 767.98px) {
  .home_product {
    --grid-gutter-x: 15px;
    --grid-gutter-y: 15px;
  }
}

.checkout__container {
  margin-top: 30px;
}

.profile-container {
  margin-top: 30px;
}

.auth {
  min-height: 100vh;
  display: flex;
}
.auth__intro, .auth__content {
  flex: 1;
  padding: 0 30px;
}
.auth__intro {
  background-color: var(--bg-intro-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .auth__intro {
    display: none;
  }
}
.auth__intro-text {
  color: var(--color-text);
  max-width: 412px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
  margin-top: 50px;
}
.auth__intro-img {
  max-width: 100%;
}
.auth__content {
  background-color: var(--auth-form-content-bg-color);
}
@media (max-width: 767.98px) {
  .auth__content {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.auth__content-inner {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(460px, 100%);
  text-align: center;
  margin: 0 auto;
  gap: 50px;
}
@media (max-width: 767.98px) {
  .auth__content-inner {
    padding: 50px 0 0 0;
  }
}
.auth__heading {
  color: var(--color-text);
  font-size: 3rem;
  font-weight: 500;
  line-height: 146.667%;
}
.auth__desc {
  color: var(--form-boder-default-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.auth__link {
  color: #0071DC;
  font-size: 15px;
  font-weight: 500;
  line-height: 146.667%;
}
.auth__btn-group {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.auth__btn_1 {
  width: 100%;
  color: var(--color-text-auth);
  font-size: 18px;
  font-weight: 500;
  line-height: 144.444%;
}
.auth__text {
  color: var(--form-boder-default-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}

.checkout-stick {
  height: 1px;
  width: 100%;
  background-color: #D2D1D6;
}
.checkout-stick-row {
  margin: 14px 0;
}

.btn-next-checkout {
  padding: 18px 40px;
  color: var(--Secondary-Color-Secondary-1, #1A162E);
  font-size: 22px;
  font-weight: 500;
  line-height: 145.455%;
}

.cart-info {
  border-radius: 20px;
  background-color: #FFF;
  padding: 30px;
}
.cart-info__bill {
  font-size: 20px;
  line-height: 200%;
}
.cart-info__option-right {
  filter: brightness(0) saturate(100%) invert(71%) sepia(6%) saturate(435%) hue-rotate(206deg) brightness(90%) contrast(82%);
}
.cart-info__row {
  color: var(--Secondary-Color-Secondary-1, #1A162E);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.cart-info__row-btn {
  margin-top: 30px;
}

.cart-info__list {
  border-bottom: 1px solid #D2D1D6;
  margin-bottom: 30px;
}
.cart-info__list-content {
  width: 100%;
}
.cart-info__list-img {
  margin-right: 30px;
  width: 175px;
  height: 172px;
  object-fit: contain;
}
.cart-info__list-heading {
  color: var(--color-text);
  justify-content: space-between;
}
.cart-info__list-heading-title {
  width: 70%;
  font-size: 18px;
  font-weight: 500;
}
.cart-info__list-heading-cost {
  font-size: 22px;
  font-weight: 700;
}
.cart-info__list-row {
  gap: 10px;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
}
.cart-info__list-row-cost {
  color: #9E9DA8;
}
.cart-info__list-row-status {
  color: #67B044;
}

.cart-info__option {
  justify-content: space-between;
}
.cart-info__option-action {
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid #D2D1D6;
  border-radius: 10px;
}
.cart-info__option-right {
  gap: 30px;
}
.cart-info__option-save, .cart-info__option-delete {
  gap: 10px;
}

.cart-info__bottom {
  color: var(--Secondary-Color-Secondary-1, #1A162E);
  font-size: 20px;
  font-weight: 500;
  line-height: 144.444%;
}
.cart-info__bottom-left {
  height: 100%;
  width: 100%;
  align-items: flex-end;
}
.cart-info__bottom-left-icon {
  height: 14px;
  padding-right: 10px;
}
.cart-info__bottom-right > :last-child {
  font-size: 22px;
  font-weight: 700;
}
.cart-info__bottom-right > :nth-child(2) {
  margin-top: 10px;
}
.cart-info__bottom-row {
  display: flex;
  justify-content: space-between;
}

.prod-preview {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .prod-preview {
    padding-bottom: 15px;
  }
}
.prod-preview__list {
  display: flex;
  overflow: hidden;
  padding: 0px 10px 0px;
}
.prod-preview__item {
  padding-top: 92%;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  margin-right: 20px;
}
.prod-preview__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.prod-preview__thumbs {
  display: flex;
  gap: 20px;
}
.prod-preview__thumbs-img {
  cursor: pointer;
  border-radius: 8px;
  opacity: 0.6;
  height: 65px;
  width: 65px;
  object-fit: contain;
  border: 2px solid var(--prod-preview-thumbs-img-bdcolor);
}
.prod-preview__thumbs-img-current {
  border: 2px solid var(--prod-preview-thumbs-img-cur-bdcolor);
}
.prod-preview__thumbs-img:hover {
  opacity: 1;
}

.prod-info {
  padding: 60px;
  background-color: var(--prod-preview-bgcolor);
}
@media (max-width: 767.98px) {
  .prod-info {
    padding: 16px;
  }
}
@media (max-width: 767.98px) {
  .prod-info__reverse_mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}
.prod-info__heading {
  color: var(--color-text);
  font-size: 26px;
  font-weight: 500;
  line-height: 138.462%;
}
.prod-info__props {
  margin: 8px 0;
  gap: 10px;
  display: flex;
  color: #9E9DA8;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.prod-info__props-num {
  margin-right: 5px;
}
.prod-info__cost-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.prod-info__cost-complete {
  color: #ef354e;
  font-size: 31px;
  font-weight: 500;
  line-height: 138.462%;
}
.prod-info__cost-org {
  color: #9E9DA8;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  display: inline-block;
}
.prod-info .prod-info__cost-org::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 100%;
  background-color: #ffb700;
}
.prod-info__cost-sale-num {
  display: inline-block;
  color: var(--Green-Green, #67B044);
  font-size: 14px;
  font-weight: 500;
  width: inherit;
  padding: 2px 8px;
  height: 17px;
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), #67B044;
}
.prod-info__intro {
  margin: 10px 0 20px;
  color: var(--Secondary-Color-Secondary-2, #9E9DA8);
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
}
.prod-info__data-group {
  display: flex;
  flex-direction: row;
}
.prod-info__data-left {
  display: block;
  width: 120px;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .prod-info__btn-group {
    gap: 10px;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 20px;
  }
}
.prod-info__btn-buy, .prod-info__btn-addcart {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  line-height: 144.444%;
}
.prod-info__btn-addcart {
  color: var(--color-text-auth);
}
@media (max-width: 767.98px) {
  .prod-info__mobile-none {
    display: none;
  }
}
.prod-info__icon {
  width: 24px;
  filter: var(--color-icon);
}

.prod-tab__item {
  user-select: none;
  cursor: pointer;
  padding: 0 30px;
}
.prod-tab__item--current {
  color: var(--prod-cur-item-text-color);
}
@media (max-width: 767.98px) {
  .prod-tab__item {
    padding: 0 10px;
  }
}
.prod-tab__list {
  margin: 0 -30px;
  color: #9E9DA8;
  font-size: 22px;
  font-weight: 500;
  line-height: 145.455%;
}
@media (max-width: 767.98px) {
  .prod-tab__list {
    font-size: 18px;
    margin: 0 -10px;
  }
}
.prod-tab__contents {
  padding-top: 30px;
}
.prod-tab__content {
  display: none;
}
.prod-tab__content-heading {
  margin-bottom: 30px;
  color: var(--prod-tab-heding-textcolor);
  font-size: 24px;
  font-weight: 700;
  line-height: 141.667%;
}
@media (max-width: 767.98px) {
  .prod-tab__content-heading {
    font-size: 18px;
  }
}
.prod-tab__content--current {
  display: block;
}

.prod-tab__cmt {
  padding: 20px;
  margin-bottom: 18px;
  border-radius: 16px;
  background: var(--prod-tab-cmt-bgc);
}
.prod-tab__cmt-info {
  padding-left: 20px;
  flex-direction: column;
  gap: 8px;
}
.prod-tab__cmt-avt-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: contain;
  border-radius: 50%;
}
@media (max-width: 767.98px) {
  .prod-tab__cmt-avt-img {
    width: 60px;
    height: 60px;
  }
}
.prod-tab__cmt-nameuser, .prod-tab__cmt-number_start {
  color: var(--prod-tab-nameuser-textcolor);
}
.prod-tab__cmt-nameuser {
  font-size: 22px;
  font-weight: 500;
  line-height: 145.455%;
}
@media (max-width: 767.98px) {
  .prod-tab__cmt-nameuser {
    font-size: 18px;
  }
}
.prod-tab__cmt-number_start {
  padding-left: 8px;
  font-size: 18px;
  font-weight: 500;
}
.prod-tab__cmt-icon {
  width: 18px;
  flex-shrink: 0;
}
.prod-tab__cmt-content {
  flex-wrap: wrap;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.cart-confirm {
  border-radius: 20px;
  background-color: #FFF;
  padding: 30px;
}
.cart-confirm__heading {
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}
.cart-confirm__heading-option {
  margin-top: 30px;
  font-style: normal;
}
.cart-confirm__label {
  width: 100%;
  font-size: 18px;
  line-height: 200%;
  font-weight: 400;
}
.cart-confirm__group-input {
  flex-direction: column;
}
.cart-confirm__input {
  border: 1px solid #9E9DA8;
}
.cart-confirm__select {
  border: none;
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #9E9DA8;
  font-size: 1.5rem;
  font-weight: 500;
  background: transparent;
}
.cart-confirm__textarea {
  padding: 8px 12px;
  height: 60px;
  border: none;
  border: 1px solid #9E9DA8;
  border-radius: 6px;
}
.cart-confirm__option {
  flex-direction: column;
  gap: 10px;
  line-height: 200%;
}

.profile-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 18px;
}
.profile-content__heading {
  color: var(--Secondary-Color-Secondary-1, #1A162E);
  font-size: 24px;
  font-weight: 700;
  line-height: 141.667%;
  margin-bottom: 14px;
}
.profile-content__group-btn {
  margin-top: 20px;
}

.address-card {
  justify-content: space-between;
  margin-bottom: 20px;
}
.address-card__choose {
  padding-right: 10px;
}
.address-card__info {
  flex-direction: column;
}
.address-card__info-name {
  color: var(--Secondary-Color-Secondary-1, #1A162E);
  font-size: 18px;
  font-weight: 500;
  line-height: 144.444%;
}
.address-card__info-address, .address-card__info-numberphone {
  color: var(--Secondary-Color-Secondary-1, #1A162E);
  font-size: 15px;
  font-weight: 400;
  line-height: 146.667%;
}

/*# sourceMappingURL=main.css.map */
