@use "../abtracts";
.checkout-stick{
    height: 1px;
    width: 100%;
    background-color: #D2D1D6;
    &-row{
        margin: 14px 0;
    }
}
.btn-next-checkout{
    padding: 18px 40px;
    color: var(--Secondary-Color-Secondary-1, #1A162E);
    font-size: 22px;
    font-weight: 500;
    line-height: 145.455%;
}
.cart-info{
    border-radius: 20px;
    background-color: #FFF;
    padding: 30px;
    &__bill{
        font-size: 20px;
        line-height: 200%;
    }
    &__option-right{
        filter: brightness(0) saturate(100%) invert(71%) sepia(6%) saturate(435%) hue-rotate(206deg) brightness(90%) contrast(82%);
    }
    &__row{
       &-btn{
        margin-top: 30px;
       }
        color: var(--Secondary-Color-Secondary-1, #1A162E);
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
    }
}
//list
.cart-info__list{
    border-bottom: 1px solid #D2D1D6;
    margin-bottom: 30px;
    &-content{
        width: 100%;
    }
    &-img{
        margin-right: 30px;
        width: 175px;
        height: 172px;
        object-fit: contain;
    }
    &-heading{
        color: var(--color-text);
        justify-content: space-between;
        &-title{
            width: 70%;
            font-size: 18px;
            font-weight: 500;
        }
        &-cost{
            font-size: 22px;
            font-weight: 700;
        }
    }
    &-row{
        gap: 10px;
        padding: 16px 0;
        font-size: 18px;
        font-weight: 500;
        &-cost{
            color: #9E9DA8;
        }
        &-status{
            color: #67B044;
        }
    }
}
//option
.cart-info__option{
    justify-content: space-between;
    &-action{
        gap: 10px;
        padding: 10px 20px;
        border: 1px solid #D2D1D6;
        border-radius: 10px;
    }
    &-right{
        gap: 30px;
    }
    &-save,&-delete{
        gap: 10px;
    }
}
.cart-info__bottom{
    color: var(--Secondary-Color-Secondary-1, #1A162E);
    font-size: 20px;
    font-weight: 500;
    line-height: 144.444%;
    &-left{
        &-icon{
            height: 14px;
            padding-right: 10px;
        }
        height: 100%;
        width: 100%;
        align-items: flex-end;
    }
    &-right{
        > :last-child{
            font-size: 22px;
            font-weight: 700;
        }
        > :nth-child(2){
            margin-top: 10px;
        }
    }
    &-row{
        
        display: flex;
       justify-content: space-between;
    }
}