.profile-content{
    padding: 20px;
    background-color: #fff;
    border-radius: 18px;
    &__heading{
        color: var(--Secondary-Color-Secondary-1, #1A162E);
        font-size: 24px;
        font-weight: 700;
        line-height: 141.667%;
        margin-bottom: 14px;
    }
    &__group-btn
    {
        margin-top: 20px;
    }
}
.address-card{
    justify-content: space-between;
    margin-bottom: 20px;
    &__choose{
        padding-right: 10px;
    }
    &__info{
        &-name{
            color: var(--Secondary-Color-Secondary-1, #1A162E);
            font-size: 18px;
            font-weight: 500;
            line-height: 144.444%;
        }
        &-address,&-numberphone{
            color: var(--Secondary-Color-Secondary-1, #1A162E);
            font-size: 15px;
            font-weight: 400;
            line-height: 146.667%;
        }
        flex-direction: column;
    }
}