@use "../abtracts";

.cate-item{
    display: flex;
    padding: 20px 26px;
    height: 100%;
    @include abtracts.breakpoint(xl){
        flex-direction: column;
    }
    @include abtracts.breakpoint(md){
        flex-direction: row;
        
    }
    flex-direction: row;
   
    column-gap: 20px;
    border-radius: 16px;
    background: var(--cart-item-bg);
    &__info{
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        justify-content: center;
        @include abtracts.breakpoint(xxl){
            padding-right: 0px;
        }
    }
    &__thumb{
        
        height: 116px;
        width: 116px;
        @include abtracts.breakpoint(md){
            width: 88px;
            height: 88px;
            flex-shrink: 0;
            margin: 0 !important;
        }
        object-fit: contain;
        background-color: var(--cart-item--thumb-bg);
        border-radius: 8px;
        @include abtracts.breakpoint(xl){
            margin: 0 auto;
        }
    }
    &__title{
        color: var(--cart-item-text-color);
        font-size: 22px;
        font-weight: 700;
        line-height:145.455%;
        @include abtracts.breakpoint(md){
            color: var(--cart-item-text-color);
            font-size: 18px;
            font-weight: 700;
            line-height: 144.444%; 
        }
    }
    &__desc{
        color: var(--cart-item-text-color);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        @include abtracts.breakpoint(md){
            color: var(--cart-item-text-color);
            font-size: 14px;
            font-weight: 400;
            line-height: 142.857%; 
        }
    }
}