.act-dropdown{
    &__user{
        width: 150px;
        padding-top: 10px;
    }
    &__cart,&__heart{
        width: 500px;
        height: 500px;
        padding-top: 30px;
    }
   
 
    &__inner{
        &-user{
            padding:10px 20px;
            box-shadow:0 5px 5px 5px rgba(200, 200, 200, 0.40);
            border-radius: 8px;
        }
        box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.60);
        background: var(--Secondary-Color-Background, #FFF);
        border-radius: 20px;
        padding:5px 20px 20px;
        position: relative;
    }
    &__title{
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 20px;
    }
    &__icon-img{
        height: 18px;
        position: absolute;
        &-large{
            top: 4%;
            right: 4%;
        }
        &-small{
            top: 0%;
            left: 5%;
        }
    }
}
//cart-preview header
.cart-preview{
    &__no-product{
        flex-direction: column;
        &-title{
            text-align: center;
            color: #9E9DA8;
            font-size: 24px;
            font-weight: 500;
            line-height: 150%;
        }
        &-img{
            width: 80%;
            height: 80%;
            object-fit: cover;
        }
        height: 400px;
        width: 100%;
    }
    &__product{
        width: 100%;
        gap: 10px;
        margin-bottom: 20px;
    }
    &__thumb{
        height: 40px;
        width: 40px;
        object-fit: contain;
        border: 1px solid #D2D1D6;
        border-radius: 8px;
        
    }
    &__img{
        height: 100%;
        width: 100%;
    }
    &__name{
        flex-wrap: wrap;
        min-width: 60%;
    }
    &__cost{
        margin-left: auto;
    }
    &__btn-group{
        justify-items: flex-end;
        margin-top: 30px;
    }
}
//user_menu
.user-menu{
    &__list{
        font-size: 18px;
        line-height: 200%;
    
    }
    &__link{
        &:hover{
            opacity: 0.8;
            font-size: 20px;
            transition: font-size 0.5s ease;
        }
    }
}