.form{
    &__group{
        margin-bottom: 30px;
        &-inline{
            display: flex;
            align-items: center;
        }
    }
    &-default{
        width: 100%;
        padding: 8px 12px;
        border-radius: 6px;
        border: 2px solid var(--form-boder-default-color);
        font-size: 1.5rem;
        font-weight: 500;
        background: transparent;
    }
    &__text-input{
        display: flex;
        width: 460px;
        padding: 0 12px;
        align-items: center;
        height: 50px;
        border-radius: 10px;
        border: 1.5px solid var(--form-boder-default-color);
        &:focus-within{
            border-color: #77dae6;
        }
    }
    &__input{
        flex: 1;
        height: 100%;
        background: transparent;
        &::placeholder{
            color: #D2D1D6;
        }
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444% ;
        &-icon{
            margin-left: 12px;
            
        }
    }
    &__pull-right{
        margin-left: auto;
    }
    &__checkbox{
        display: flex;
        align-items: center;
        &-label{
            color:  #9E9DA8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667% ; 
        }
    }
   
}